    /*
   forma colocando cada lateral separada
   margin-top: 30px
   margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    */

    /* 
    forma colocando o mesmo valor no topo e nas laterais
    margin: 30px 15px; 
    */

    /* E essa seria a forma colocando o mesmo valor de todos os lados margin:30px
    */
    p {
    margin: 30px 15px;
    padding: 20px;
    background-color: aquamarine;
    border: 20px solid blueviolet;
    }
    

    
    
    
    h1 {
        border-style: solid;
        border-width: 20px;      
        border-color: rgb(15, 212, 212) brown chocolate green;

    }